.pcm-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.pcm-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 23%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.pcm-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -20px;
    margin-right: -10px;
}
.pcm-close:hover,
.pcm-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
h1 {
    text-align: center;
}
.pcm-frame-image a img {
    width: 100px;
    height: 100px;
}

#pcm-frame {
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 30px;
}

#pcm-frame #pcm-width {
    font-size: 14px;
    top: -40px;
    font-weight: bold;
    position: absolute;
    left: 47%;
}

#pcm-frame #pcm-height {
    font-size: 14px;
    transform: rotate(270deg);
    right: 100%;
    font-weight: bold;
    position: absolute;
    top: 47%;
}

#pcm-frame .pcm-img {
    margin-bottom: 30px;
}

.rule_w {
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    top: -10px;
    text-align: center;
}

.rule_h {
    width: 1px;
    height: 100%;
    background-color: black;
    position: absolute;
    left: -10px;
}

@media only screen and (max-width: 768px) {
    .pcm-modal-content{
        width: 90%;
    }
    #pcm-frame {
        margin-top: 50px;
        margin-left: 10px;
        margin-bottom: 30px;
    }
    #pcm-frame #pcm-width {
        font-size: 14px;
        top: -40px;
        font-weight: bold;
    }

    #pcm-frame #pcm-height {
        font-size: 14px;
        transform: rotate(270deg);
        left: -35px;
        font-weight: bold;
    }

    #pcm-frame .pcm-img {
        margin-bottom: 30px;
    }
}

.pcm-img {
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.pcm-x {
    position: relative;
    overflow:hidden
}

.pcm-x img {
    display: none;
    position: absolute;
    top: 0;
}

.pcm-collage{
    width: 0;
    height: 0;
}

.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se {
    display: none !important;
}

.pcm-dimension {
    display: none;
}

@media only screen and (max-width: 500px) {
    .pcm-img {
        width: 96%;
        height: 300px;
    }
}